apiVersion: v1
kind: Service
metadata:
  name: {{ include "linktree.fullname" . }}-backend
  labels:
    {{- include "linktree.backend.labels" . | nindent 4 }}
spec:
  type: {{ .Values.backend.service.type }}
  ports:
  - port: {{ .Values.backend.service.port }}
    targetPort: http
    protocol: TCP
    name: http
    {{- if and (eq .Values.backend.service.type "NodePort") .Values.backend.service.nodePort }}
    nodePort: {{ .Values.backend.service.nodePort }}
    {{- end }}
  selector:
    {{- include "linktree.backend.selectorLabels" . | nindent 4 }}
