# Development environment values for linktree-frontend

environment: development

replicaCount: 1

image:
  repository: linktree-frontend
  pullPolicy: Never
  tag: "local"

service:
  type: ClusterIP
  port: 80

config:
  apiUrl: "http://linktree-dev-backend:8000"

resources:
  limits:
    cpu: 150m
    memory: 192Mi
  requests:
    cpu: 50m
    memory: 64Mi

autoscaling:
  enabled: false

podDisruptionBudget:
  enabled: false
